/*----------
    RESET
----------*/

*, ::after, ::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}

article{
    padding: 2rem 0px;
}
p{
    padding: 1rem 0px;
}

h2, h4{
    padding: 1rem 0px;
}

ol{
    padding: 0px 0px 0px 1rem;
}

.secondary-list{
    list-style: lower-latin;
}